<div class="container body">
    <div class="main_container">
        <nav-menu></nav-menu>
        <div class="right_col" role="main">
            <router-outlet></router-outlet>
        </div>
        <footerC></footerC>
        
    </div>
</div>